In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data Collection
## PISA data source
### https://www.oecd.org/en/data/datasets/pisa-2022-database.html#data
#### We are using the file PISA2022_FinalRelease_Compendia_18thJune24_cog/pisa2022_ms_cog_overall_math_compendium.xlsx from the Codebook and compendia section.
## Annual GDP growth
### https://ourworldindata.org/grapher/real-gdp-growth

In [2]:
gdp = pd.read_csv('../real-gdp-growth.csv')
gdp = gdp.rename(columns={'Entity': 'country'})
gdp = gdp.rename(columns={'Gross domestic product, constant prices - Percent change - Observations': 'GDP Growth'})
gdp = gdp.rename(columns={'Gross domestic product, constant prices - Percent change - Forecasts': 'GDP Growth, Forecasts'})
gdp = gdp[gdp['Year'] == 2022]

In [3]:
cog_comp = pd.read_excel('../PISA2022_FinalRelease_Compendia_18thJune24_cog/pisa2022_ms_cog_overall_math_compendium.xlsx', sheet_name=None)

In [4]:
def clean(df):
    df.columns = df.iloc[0]
    # If you just want to change one position while keeping others the same:
    new_cols = list(df.columns)
    new_cols[0] = 'country'
    df.columns = new_cols

    # Using mask to identify NaN columns and replace them
    df.columns = df.columns.fillna('(SE)')

    # Using encode/decode to remove non-ASCII
    df['country'] = df['country'].str.encode('ascii', 'ignore').str.decode('ascii')

    # Take only columns that contain "full credit" after cleaning
    cols_to_change = [col for col in df.columns 
                  if "full credit" in ''.join(c for c in col if c.isalpha() or c.isspace()).lower()]
    
    # Create rename dictionary only for matching columns
    new_cols = {col: "Full credit" for col in cols_to_change}
    
    # Rename only those specific columns
    df.rename(columns=new_cols, inplace=True)
    
    # Or using drop with inplace
    df.drop(df.index[:3], inplace=True)
    df.drop(df.index[82:], inplace=True)

    # Reset index inplace if needed
    df.reset_index(drop=True, inplace=True)

In [5]:
for _, df in cog_comp.items():
    clean(df)

In [6]:
view = cog_comp['CM033Q01S']
view.head()

,country,Weighted N,Missing,Weighted N,0 - No credit,(SE),Full credit,(SE),Not Reached,(SE),Not Applicable,(SE),Invalid,(SE),No Response,(SE)
0,Australia,265195.55074,84.789809,40336.75095,16.733865,0.833326,82.61115,0.812768,0.027047,0.017614,0,0,0,0,0.627938,0.198346
1,Austria,76153.19564,83.806895,12331.56656,16.952291,1.625536,82.166018,1.665224,0.098387,0.142437,0,0,0,0,0.783304,0.355152
2,Belgium,128641.97592,82.721398,22227.53499,18.262979,1.159012,81.26556,1.174361,0,0,0,0,0,0,0.471461,0.209993
3,Canada,357911.27523,82.923927,61117.19131,17.132277,0.889253,81.860735,0.919619,0.343543,0.127239,0,0,0,0,0.663445,0.166258
4,Chile,214108.37953,77.151769,48919.97764,22.161542,1.276267,76.39755,1.375489,0.090917,0.089394,0,0,0,0,1.349991,0.48639

In [7]:
view.head()

,country,Weighted N,Missing,Weighted N,0 - No credit,(SE),Full credit,(SE),Not Reached,(SE),Not Applicable,(SE),Invalid,(SE),No Response,(SE)
0,Australia,265195.55074,84.789809,40336.75095,16.733865,0.833326,82.61115,0.812768,0.027047,0.017614,0,0,0,0,0.627938,0.198346
1,Austria,76153.19564,83.806895,12331.56656,16.952291,1.625536,82.166018,1.665224,0.098387,0.142437,0,0,0,0,0.783304,0.355152
2,Belgium,128641.97592,82.721398,22227.53499,18.262979,1.159012,81.26556,1.174361,0,0,0,0,0,0,0.471461,0.209993
3,Canada,357911.27523,82.923927,61117.19131,17.132277,0.889253,81.860735,0.919619,0.343543,0.127239,0,0,0,0,0.663445,0.166258
4,Chile,214108.37953,77.151769,48919.97764,22.161542,1.276267,76.39755,1.375489,0.090917,0.089394,0,0,0,0,1.349991,0.48639

In [8]:
view.tail()

,country,Weighted N,Missing,Weighted N,0 - No credit,(SE),Full credit,(SE),Not Reached,(SE),Not Applicable,(SE),Invalid,(SE),No Response,(SE)
77,Ukrainian regions,165591.77013,83.976714,26533.24343,26.249562,1.900339,70.937034,2.169014,1.168868,0.515579,0,0,0,0,1.644536,0.599081
78,United Arab Emirates,60764.94822,84.145714,9633.84841,28.500047,0.826034,70.463056,0.855654,0.377947,0.12851,0,0,0,0,0.658949,0.137521
79,Uruguay,40777.82196,83.037454,6916.95677,23.436773,1.407876,72.650724,1.607962,1.23744,0.384322,0,0,0,0,2.675063,0.503279
80,Uzbekistan,482058.7058,83.513613,79474.06347,42.405086,1.606628,52.25201,1.644288,0.090161,0.089814,0,0,0,0,5.252743,0.577488
81,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
cash = cog_comp['CM496Q01S']
cash.head()

,country,Weighted N,Missing,Weighted N,0 - No credit,(SE),Full credit,(SE),Not Reached,(SE),Not Applicable,(SE),Invalid,(SE),No Response,(SE)
0,Australia,265195.55074,88.327362,30955.31601,50.700185,1.405409,48.448693,1.436618,0.307115,0.1884,0,0,0,0,0.544007,0.212563
1,Austria,76153.19564,88.110135,9054.51199,51.346469,2.296302,48.320406,2.29248,0.195253,0.11335,0,0,0,0,0.137871,0.133937
2,Belgium,128641.97592,86.438677,17445.55356,57.0003,1.815971,39.553116,2.167895,2.447157,0.747825,0,0,0,0,0.999428,0.394461
3,Canada,357911.27523,86.574761,48050.44462,51.534587,1.351028,46.339676,1.306199,1.359345,0.275679,0,0,0,0,0.766392,0.216179
4,Chile,214108.37953,82.136516,38247.21616,66.403162,1.661513,27.251403,1.522195,5.038046,1.093962,0,0,0,0,1.307389,0.36969

In [10]:
cash.tail()

,country,Weighted N,Missing,Weighted N,0 - No credit,(SE),Full credit,(SE),Not Reached,(SE),Not Applicable,(SE),Invalid,(SE),No Response,(SE)
77,Ukrainian regions,165591.77013,88.77717,18584.08205,63.399171,2.70731,35.180153,2.671015,1.151145,0.507729,0,0,0,0,0.269532,0.310534
78,United Arab Emirates,60764.94822,89.330658,6483.21985,65.281838,1.155363,33.797192,1.118637,0.15145,0.112319,0,0,0,0,0.76952,0.188433
79,Uruguay,40777.82196,89.610774,4236.4999,60.649975,2.128151,34.829398,2.090481,2.478914,0.623414,0,0,0,0,2.041713,0.627136
80,Uzbekistan,482058.7058,90.340843,46562.80518,78.441311,1.863405,20.413336,1.823139,0,0,0,0,0,0,1.145354,0.405526
81,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
cash.columns

Index(['country', 'Weighted N', 'Missing', 'Weighted N', '0 - No credit',
       '(SE)', 'Full credit', '(SE)', 'Not Reached', '(SE)', 'Not Applicable',
       '(SE)', 'Invalid', '(SE)', 'No Response', '(SE)'],
      dtype='object')

In [12]:
"Full credit" in cash.columns

True

In [13]:
len(cog_comp)

344

In [14]:
def merge_dict(dict_of_dfs):
    merged = None
    questions = []
    included = 0
    for question, df in dict_of_dfs.items():
        # print(f"\nProcessing question: {question}")
        # print(f"Columns in df: {df.columns.tolist()}")
        has_country = 'country' in df.columns
        has_credit = 'Full credit' in df.columns
        # print(f"'country' in columns: {'country' in df.columns}")
        if has_credit:
            # Keep only needed columns
            df_subset = df[['country', 'Full credit']].copy()
            # Add question
            questions.append(f" {question}")
            included += 1
            if merged is None:
                merged = df_subset
            else:
                merged = merged.merge(df_subset, on='country', suffixes=(questions[-2], questions[-1])).set_index('country')
        elif not has_country:
            print(f"Skipping question '{question}', does not have country column.")
        else:
            print(f"Skipping question '{question}', doesn't have full credit column.")
    print(f"included {included / len(dict_of_dfs)} of sheets")
    print(f"merged len = {len(merged)}")

    return merged

In [15]:
merged = merge_dict(cog_comp)

Skipping question 'Table of Contents', doesn't have full credit column.
included 0.997093023255814 of sheets
merged len = 82

In [16]:
merged.head()

,Full credit CM033Q01S,Full credit CM474Q01S,Full credit DM155Q02C,Full credit CM155Q01S,Full credit CM155Q04S,Full credit CM411Q01S,Full credit CM411Q02S,Full credit CM803Q01S,Full credit CM442Q02S,Full credit DM462Q01C,...,Full credit PM955Q03,Full credit PM998Q04S,Full credit PM948Q03,Full credit PM961Q02,Full credit PM961Q03S,Full credit PM961Q05,Full credit PM939Q01S,Full credit PM939Q02S,Full credit PM967Q01,Full credit
country,,,,,,,,,,,,,,,,,,,,,
Australia,82.61115,57.971663,46.861604,64.091936,54.097207,54.562634,53.94099,41.985309,39.382965,2.135119,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Austria,82.166018,66.301452,42.59795,55.81762,44.897525,50.97733,52.945132,31.764596,39.077143,2.827284,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belgium,81.26556,59.326885,50.837097,66.433098,53.279861,52.343963,34.711844,27.686256,40.949658,6.249975,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Canada,81.860735,59.94363,52.398018,66.791494,56.406903,57.625141,51.758339,33.527894,38.714977,2.392614,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chile,76.39755,39.779732,18.937418,50.32855,36.446317,25.579749,33.67209,5.592664,23.219495,0.171133,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
merged = merge_dict(cog_comp)
merged = merged.copy()

Skipping question 'Table of Contents', doesn't have full credit column.
included 0.997093023255814 of sheets
merged len = 82

In [18]:
merged['Average'] = merged.mean(axis=1)

In [19]:
merged

,Full credit CM033Q01S,Full credit CM474Q01S,Full credit DM155Q02C,Full credit CM155Q01S,Full credit CM155Q04S,Full credit CM411Q01S,Full credit CM411Q02S,Full credit CM803Q01S,Full credit CM442Q02S,Full credit DM462Q01C,...,Full credit PM998Q04S,Full credit PM948Q03,Full credit PM961Q02,Full credit PM961Q03S,Full credit PM961Q05,Full credit PM939Q01S,Full credit PM939Q02S,Full credit PM967Q01,Full credit,Average
country,,,,,,,,,,,,,,,,,,,,,
Australia,82.61115,57.971663,46.861604,64.091936,54.097207,54.562634,53.94099,41.985309,39.382965,2.135119,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.232898
Austria,82.166018,66.301452,42.59795,55.81762,44.897525,50.97733,52.945132,31.764596,39.077143,2.827284,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.172289
Belgium,81.26556,59.326885,50.837097,66.433098,53.279861,52.343963,34.711844,27.686256,40.949658,6.249975,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.743446
Canada,81.860735,59.94363,52.398018,66.791494,56.406903,57.625141,51.758339,33.527894,38.714977,2.392614,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.055986
Chile,76.39755,39.779732,18.937418,50.32855,36.446317,25.579749,33.67209,5.592664,23.219495,0.171133,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.834135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ukrainian regions,70.937034,51.461178,35.146467,54.172364,49.74752,46.762991,41.613029,26.709024,27.191492,6.64792,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.540587
United Arab Emirates,70.463056,43.24875,28.968733,48.632688,35.753606,32.330149,39.988642,20.909057,26.613326,2.973153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.731601
Uruguay,72.650724,47.094684,19.742249,47.365852,33.93796,28.574437,27.666328,13.573384,18.972876,1.21098,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.107976
Uzbekistan,52.25201,27.290191,13.33925,24.321068,20.204739,14.282872,4.778363,7.316628,8.401897,3.384053,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.864723
Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.247847,11.269518,12.238017,59.002003,34.062384,47.454712,49.868069,37.166811,6.925155,39.304206

In [20]:
merged = pd.merge(merged, gdp, on='country', how='inner')

In [21]:
merged

,country,Full credit CM033Q01S,Full credit CM474Q01S,Full credit DM155Q02C,Full credit CM155Q01S,Full credit CM155Q04S,Full credit CM411Q01S,Full credit CM411Q02S,Full credit CM803Q01S,Full credit CM442Q02S,...,Full credit PM961Q05,Full credit PM939Q01S,Full credit PM939Q02S,Full credit PM967Q01,Full credit,Average,Code,Year,GDP Growth,"GDP Growth, Forecasts"
0,Australia,82.61115,57.971663,46.861604,64.091936,54.097207,54.562634,53.94099,41.985309,39.382965,...,NaN,NaN,NaN,NaN,NaN,43.232898,AUS,2022,3.811,NaN
1,Austria,82.166018,66.301452,42.59795,55.81762,44.897525,50.97733,52.945132,31.764596,39.077143,...,NaN,NaN,NaN,NaN,NaN,42.172289,AUT,2022,4.806,NaN
2,Belgium,81.26556,59.326885,50.837097,66.433098,53.279861,52.343963,34.711844,27.686256,40.949658,...,NaN,NaN,NaN,NaN,NaN,42.743446,BEL,2022,3.010,NaN
3,Canada,81.860735,59.94363,52.398018,66.791494,56.406903,57.625141,51.758339,33.527894,38.714977,...,NaN,NaN,NaN,NaN,NaN,44.055986,CAN,2022,3.820,NaN
4,Chile,76.39755,39.779732,18.937418,50.32855,36.446317,25.579749,33.67209,5.592664,23.219495,...,NaN,NaN,NaN,NaN,NaN,27.834135,CHL,2022,2.059,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Thailand,64.956372,52.751943,20.963762,32.350005,32.926832,23.712686,31.701267,7.563484,23.676783,...,NaN,NaN,NaN,NaN,NaN,25.864838,THA,2022,2.511,NaN
70,United Arab Emirates,70.463056,43.24875,28.968733,48.632688,35.753606,32.330149,39.988642,20.909057,26.613326,...,NaN,NaN,NaN,NaN,NaN,32.731601,ARE,2022,7.850,7.85
71,Uruguay,72.650724,47.094684,19.742249,47.365852,33.93796,28.574437,27.666328,13.573384,18.972876,...,NaN,NaN,NaN,NaN,NaN,27.107976,URY,2022,4.707,NaN
72,Uzbekistan,52.25201,27.290191,13.33925,24.321068,20.204739,14.282872,4.778363,7.316628,8.401897,...,NaN,NaN,NaN,NaN,NaN,20.864723,UZB,2022,5.673,NaN
73,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.062384,47.454712,49.868069,37.166811,6.925155,39.304206,VNM,2022,8.124,NaN

In [22]:
merged.columns

Index(['country', 'Full credit CM033Q01S', 'Full credit CM474Q01S',
       'Full credit DM155Q02C', 'Full credit CM155Q01S',
       'Full credit CM155Q04S', 'Full credit CM411Q01S',
       'Full credit CM411Q02S', 'Full credit CM803Q01S',
       'Full credit CM442Q02S',
       ...
       'Full credit PM961Q05', 'Full credit PM939Q01S',
       'Full credit PM939Q02S', 'Full credit PM967Q01', 'Full credit',
       'Average', 'Code', 'Year', 'GDP Growth', 'GDP Growth, Forecasts'],
      dtype='object', length=358)

# Analysis

In [23]:
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

# First, let's check data types and clean the data
print("Original data types:")
print(merged[['Average', 'GDP Growth']].dtypes)

# Convert to numeric, coercing errors to NaN
merged['Average'] = pd.to_numeric(merged['Average'], errors='coerce')
merged['GDP Growth'] = pd.to_numeric(merged['GDP Growth'], errors='coerce')
# Clean the data
df_clean = merged.dropna(subset=['Average', 'GDP Growth'])

# Add a constant (intercept) to the independent variable
X = sm.add_constant(df_clean['Average'])
y = df_clean['GDP Growth']

# Create and fit the model
model = sm.OLS(y, X).fit()

# Print the summary
print(model.summary())

# Get predictions
df_clean['Predicted_GDP_Growth'] = model.predict(X)
df_clean['Residuals'] = model.resid

# Calculate basic statistics of the variables
print("\nBasic Statistics:")
print(df_clean[['Average', 'GDP Growth']].describe())

# Print confidence intervals
print("\nConfidence Intervals:")
print(model.conf_int())

Original data types:
Average        object
GDP Growth    float64
dtype: object
                            OLS Regression Results
==============================================================================
Dep. Variable:             GDP Growth   R-squared:                       0.140
Model:                            OLS   Adj. R-squared:                  0.128
Method:                 Least Squares   F-statistic:                     11.73
Date:                Thu, 31 Oct 2024   Prob (F-statistic):            0.00102
Time:                        21:09:39   Log-Likelihood:                -199.73
No. Observations:                  74   AIC:                             403.5
Df Residuals:                      72   BIC:                             408.1
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          8.9398      1.501      5.956      0.000       5.948      11.932
Average       -0.1462      0.043     -3.424      0.001      -0.231      -0.061
==============================================================================
Omnibus:                       79.840   Durbin-Watson:                   1.983
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1094.649
Skew:                          -3.029   Prob(JB):                    1.99e-238
Kurtosis:                      20.841   Cond. No.                         125.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Basic Statistics:
         Average  GDP Growth
count  74.000000   74.000000
mean   33.733573    4.009270
std     9.998837    3.905246
min    15.985473  -21.402000
25%    25.160900    2.625500
50%    33.223172    4.239000
75%    41.193684    5.476500
max    59.304034   10.960000

Confidence Intervals:
               0          1
const    5.94758  11.931976
Average -0.23125  -0.061070

# Variable Definition
### We are defining economic growth as GDP growth. We are using an average of PISA 2022 math full credit scores as a proxy for cognitive skills. That is, the average of the percentage of questions answered for full credit for each country in the 2022 PISA math test.

# Summary
##### These results are, on the surface, inconsistent with Hanushek and Woessmann's assertion that cognitive skills are 'powerfully related' to economic growth. The negative coefficient on the average variable suggests that an increase is math scores is associated with a decrease in economic growth.

##### This is likely an artifact. Due to time constraints, I'm not able to use the controls I would like. Also, I would like to use different years in GDP